<div class="row mb-3">
  <div class="row g-3">
    <h4>Seleccionar por:</h4>
      <div  class="col">
        <h6>
        Categoria
        <select class="form-select" [(ngModel)]="selectedCategoryId">
          <option value="">Todas las categorías</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        </h6>
      </div>
      <div class="col">
        <h6>
        Sucursal
        <select class="form-select" [(ngModel)]="selectedBranchId">
          <option value="">Todas las sucursales</option>
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
        </h6>
      </div>
      <div class="col">
        <button class="btn btn-outline-dark" (click)="filterProductsBy()">Filtrar</button>
      </div>
    </div>
</div>  


<div class="row">
  <div class="col-md-3" *ngFor="let product of products">
    <div class="card-group">
      <div class="card mb-3 border-dark" [routerLink]="['/products', product.id]" style="cursor: pointer;width: 18rem;">
        <div class="card-header">
          ID Producto: {{product.id}}
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">Brand: {{ product.brand }}</p>
          <p class="card-text">Price: {{ product.price }}</p>
          <p class="card-text">Categoria: {{ product.category?.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>